<div>
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/home">Administracion</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/ingresos">Ingresos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/gastos">Gastos</a>
    </li>
  </ul>
</div>

<div>
  <div id="container-grafica">
    <img src="https://docs.aws.amazon.com/es_es/quicksight/latest/user/images/example-visual-line-chart.png" alt="" id="grafica">
    <button type="button" class="btn btn-secondary btn-lg" id="boton-ingresar-reporte" (click)="openModal1(template1)">Ingresar Reporte</button>
  </div>
  <hr>
</div>

<!-- Modal 1 -->
<ng-template #template1  class="modal" tabindex="-1" role="dialog">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Ingresar Reporte Ingresos Mensual</h1>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit($event,template2)">
          <div class="d-flex justify-content-center">
            <div class="input-group mb-3">
              <label class="input-group-text" for="customFile">{{ selectedFileName ? selectedFileName : 'Seleccionar Archivo' }}</label>
              <input type="file" class="form-control" id="customFile" accept=".xlsx" #fileInput (change)="onFileSelected($event)" style="display: none;">
            </div>
            <div class="input-group mb-3">
              <input type="date" class="form-control" id="customDate">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
            <button type="submit" class="btn btn-primary" (click)="showSpinner = true">Cargar Reporte</button>
          </div>
          <div class="text-center" *ngIf="showSpinner">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Cargando...</span>
            </div>
            <p>Cargando...</p>
          </div>
        </form>
      </div>
</ng-template>

<!-- Modal 2 -->
<ng-template #template2 class="modal" tabindex="-1" role="dialog">
  <div class="modal-header">
    <h1 class="modal-title fs-5">Ingresos</h1>
  </div>
  <div class="modal-body">
    <!-- Tabla de Datos Mensuales -->
    <h2>Datos Mensuales</h2>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" [(ngModel)]="ocultarDatosMensuales">
      <label class="form-check-label">Ocultar Datos Mensuales</label>
    </div>
    <table class="table" *ngIf="!ocultarDatosMensuales">
      <thead>
        <tr>
          <th>Concepto</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Inscripciones</td>
          <td>{{ reporteMensual.DatosMensuales.inscripciones_total_mes }}</td>
        </tr>
        <tr>
          <td>Venta de Productos</td>
          <td>{{ reporteMensual.DatosMensuales.ventaProductos_total_mes }}</td>
        </tr>
        <tr>
          <td>Subvenciones</td>
          <td>{{ reporteMensual.DatosMensuales.subvenciones_total_mes }}</td>
        </tr>
        <tr>
          <td>Auxiliares</td>
          <td>{{ reporteMensual.DatosMensuales.auxiliares_total_mes }}</td>
        </tr>
        <tr>
          <td>Titulos</td>
          <td>{{ reporteMensual.DatosMensuales.titulos_total_mes}}</td>
        </tr>
      </tbody>
    </table>

    <!-- Tabla de Datos Diarios -->
    <h2>Datos Diarios</h2>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" [(ngModel)]="ocultarDatosDiarios">
      <label class="form-check-label">Ocultar Datos Diarios</label>
    </div>
    <table class="table" *ngIf="!ocultarDatosDiarios">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <!-- Utiliza un *ngFor para iterar sobre los datos diarios -->
        <tr *ngFor="let datoDiario of reporteMensual.Diario.datosDelRangoDias; let i = index">
          <td>{{ datoDiario[0] }}</td> <!-- El primer elemento del arreglo es la fecha -->
          <td>{{ reporteMensual.Diario.datosDelRangoTotalDia[i][0] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary"  (click)="closeModal()">Cancelar</button>
    <button type="submit" class="btn btn-primary" (click)="insertarReporteMensual()" >Cargar Información</button>
  </div>
</ng-template>

<form [formGroup]="miFormulario">
<div class="container-fluid text-center">
  <div class="row justify-content-center">
    <div class="col-3">
      <input type="date" class="form-control" id="rangoFecha1" formControlName="fechaInicio">
      <label for="fechaInicio">Fecha Inicio</label>
    </div>
    <div class="col-3">
      <input type="date" class="form-control" id="rangoFecha2" formControlName="fechaFin">
      <label for="fechaFin">Fecha Fin</label>
    </div>
    <div class="col-3">
      <button type="button" class="btn btn-secondary btn-lg btn-block" id="boton-filtrar" [disabled]="miFormulario.invalid">Filtrar Registros</button>
      <div *ngIf="miFormulario.hasError('dateRangeInvalid')">
        El rango de fechas no es válido.
      </div>
    </div>
  </div>
</div>
</form>






